/* base設定 */
@charset "UTF-8";
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased !important;
  }

body {
    margin: 0;
}

header {
    padding: 10px;
    text-align: center;
    vertical-align: auto;
}

section{
    margin: 10px 15px;
    width: auto;
}

h1 {
    margin: 0;
    font-size: 25px;
}

p{
    margin-bottom: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,td {
    border: solid 1px;
    padding: 5px;
}


/* nav設定 */
nav {
    text-align: center;
}

nav ul {
    margin: 0 ;
    padding: 10px 0 ;
    border-bottom: #333 solid 2px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    width: 15%; /* 項目の幅指定 */
}

nav ul li a {
    text-decoration: none;
    color: #333;
}


/*  */
form {
    display: flex;
    justify-content: center;
    margin: 10px;

}

form div {
    margin: 10px;
}

.food__group {
    width: 170px;
    height: 30px;
}

.food__detail {
    padding: 5px;
    margin-bottom: 10px;
    border: solid 1px black;
}

.food__detail p:last-child {
    margin-bottom: 0px;
}

.detail__thead__status {
    background-color: rgb(180, 240, 255);
}
.detail__thead__status th:not(:first-child) {
    text-align: center;
}

.detail__tbody__status {
    background-color: rgb(255, 253, 230);
}
.detail__tbody__status td:not(:first-child) {
    text-align: right;
}


/* 一覧画面 */
.food__list {
    border: #333 solid 1px;
    width: 600px;
    padding-top: 10px;
    margin: 0 auto;
}
.food__list li {
    margin-bottom: 5px;
}

/* 詳細画面 */
.food__detail__area {
    width: 600px;
    margin: 0 auto;
}
